@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Elite&display=swap');
@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:'Special Elite', 'Outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at center, transparent 0%, rgba(0,0,0,0.7) 90%), url(/images/pexels-ksw-photographer-2372420-4018952.webp);
  background-repeat: repeat;
  background-size: contain;
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'BadInk';
  src: url('/fonts/BadInk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chreed';
  src: url('/fonts/Chreed-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #4742aa;
  --secondary-color: #7c3aed;
  --background-color: #121212;
  --text-color: #ffffff;
  --text-color-alt: #ffffff;
}

@theme{
  --color-paper: #F4EED1;
  --color-folder: #BD9760;
}
